AIRFLOW_CONN_WEAVIATE_DEFAULT='{
    "conn_type": "weaviate",
    "host": "http://weaviate:8081/",
    "extra": {
        "token": "adminkey",
        "additional_headers": {
            "X-OpenAI-Api-Key": "YOUR OPEN API KEY"
        }
    }
}'