AIRFLOW_CONN_WEAVIATE_ADMIN='{"conn_type": "weaviate", "host": "http://weaviate:8081/", "extra": {"token": "adminkey"}}'
AIRFLOW_CONN_WEAVIATE_USER='{"conn_type": "weaviate", "host": "http://weaviate:8081/", "extra": {"token": "readonlykey"}}'